<h1>Players Getaway Travel Guide</h1>
<ul>
<% @blogs.each do |blog| %>
<li><%= link_to blog.title, blog_path(blog.id) %></li>
<% end %>
</ul>

<p><%= link_to 'Add New Destination', new_blog_path %></p>